/* Общие стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', monospace;
}

body {
    background-color: #1c1c1c; /* тёмный фон */
    color: #e0e0e0;
    line-height: 1.6;
}

header {
    background-color: #111111;
    color: #ffb000; /* золото-оранжевый */
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}

nav {
    background-color: #222222;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffb000;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: 0.3s;
}

nav ul li a.active, nav ul li a:hover {
    background-color: #ffb000;
    color: #111111;
    border-radius: 5px;
}

main {
    padding: 20px;
    width: 100%;
    max-width: 1400px;   /* максимум для больших экранов */
    margin: 0 auto;
    background-color: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

footer {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background-color: #111111;
}

footer a {
    color: #ffb000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.rules-text {
    font-size: 14px;
    line-height: 1.6;
    color: #e0e0e0;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    max-width: 900px;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    white-space: pre-line;
}
