/* Общие стили страницы */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Share Tech Mono', monospace;
    background-color: #111;
    color: #fff;
    overflow: hidden; /* убираем скролл */
}

header, nav, footer {
    text-align: center;
    background-color: #1c1c1c;
    padding: 5px 10px;
    color: #fff;
}

/* MAIN - колонка с картой */
.container, main {
    height: 100%; /* колонка занимает всю высоту страницы */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden; /* скрываем лишний контент */
}

/* Кнопки выбора карты */
.map-buttons {
    margin: 10px 0;
    text-align: center;
}
.map-buttons button { 
    padding: 6px 12px; 
    margin: 0 5px; 
    border-radius: 5px; 
    background-color: #555; 
    color:#f0f0f0; 
    border:none; 
    cursor:pointer; 
    font-weight:bold;
}
.map-buttons button:hover { 
    background-color: #777; 
}

/* Контейнер карты */
.map-container {
    position: relative;
    width: 900px;          
    height: 600px; /* уменьшена высота */
    margin: 0 auto 10px;
    overflow: hidden;
    border: 4px solid #00ff00; /* видимая рамка */
    border-radius: 8px;
    background: #1e1e1e;
    box-shadow: 0 0 10px rgba(0,255,0,0.5);
}

/* Canvas */
canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
}
