/* Навигация */
nav {
    background-color: #222222;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    color: #ffb000;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: #ffb000;
    color: #111111;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #222222;
    min-width: 180px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    z-index: 100;
}

.dropdown-content li a {
    padding: 10px 20px;
    display: block;
    color: #ffb000;
    text-decoration: none;
    transition: 0.3s;
}

.dropdown-content li a:hover {
    background-color: #ffb000;
    color: #111111;
}

.dropdown:hover .dropdown-content {
    display: block;
}

